.plyr--full-ui input[type=range] {
color: #d89c1b;
}

.plyr__control--overlaid {
background: rgba(216, 156, 27, 0.5);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
background: #d89c1b;
}

.plyr__control.plyr__tab-focus {
box-shadow: 0 0 0 5px rgba(216, 156, 27, 0.5);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
background: #d89c1b;
}
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
background: #d89c1b;
}
