
@supports (backdrop-filter: none) {
	.nav-bg {
  	backdrop-filter: blur(5px);
  }
}
@supports (-webkit-backdrop-filter: none) {
  .navbar {
    -webkit-backdrop-filter: blur(5px);
  }
  .modal-bg {
    -webkit-backdrop-filter: blur(8px);
  }
}
@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .dropdown-list {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .overlay-content, .backtotop-button, .page-content, .utility-page-form {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  @media screen and (max-width: 991px){
	.nav-menu {
  	-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
    }
  }
}

/* selection */
::selection {
  background: #d89c1b;
  color: #e4e4e4;
}
::-moz-selection {
  background: #d89c1b;
  color: #e4e4e4;
}

.navbar {
  -webkit-user-select:none;
}
#modal-touch {
  -webkit-user-select:none;
}
* {
  -webkit-tab-highlight-color: rgba(216, 156, 27, 0.8);
  /*-webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;*/
}
