
@supports (backdrop-filter: none) {
  .nav-bg {
    backdrop-filter: blur(5px);
  }
}
@supports (-webkit-backdrop-filter: none) {
  .navbar {
    -webkit-backdrop-filter: blur(5px);
  }
  .modal-bg {
    -webkit-backdrop-filter: blur(8px);
  }
}
@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .dropdown-list {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .frosted {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  @media screen and (max-width: 991px){
	.nav-menu {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
}

/* selection */
::selection {
  background: #dd8a17;
  color: #e4e4e4;
}
::-moz-selection {
  background: #dd8a17;
  color: #e4e4e4;
}
* {
  -webkit-tab-highlight-color: rgba(216, 156, 27, 0.8);
  /*-webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;*/
}
.navbar {
  -webkit-user-select:none;
}
#modal-touch {
  -webkit-user-select:none;
}

/* Website Light Appearance */
body {
	background-color: #f8f8f8;
	color: #111111;
}
a {
		color: #111111;
}
.preloader {
	background-color: rgba(236, 235, 235, 1);
}
.navbar {
	background-color: rgba(236, 235, 235, 0.8);
}
.nav-overlay {
	background-color: rgba(236, 235, 235, 1);
}
.dropdown-list {
	background-color: rgba(236, 235, 235, 0.8);
}
@media screen and (max-width: 991px) {
	.nav-menu {
		background-color: rgba(236, 235, 235, 0.8);
	}
	.dropdown-list {
		background-color: rgba(21, 21, 21, 0.15);
	}
}
@supports (backdrop-filter: none) {
	.modal {
		background-color: rgba(236, 235, 235, 0.8);
		color: #e4e4e4;
	}
}
@supports (-webkit-backdrop-filter: none) {
	.modal {
		background-color: rgba(236, 235, 235, 0.3);
		color: #e4e4e4;
	}
}
@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
	.frosted {
		background-color: rgba(21, 21, 21, 0.35);
  }
}
@supports not (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
	.frosted {
		background-color: rgba(236, 235, 235, 0.8);
	}
  .modal {
		background-color: rgba(236, 235, 235, 0.8);
		color: #111111;
	}
}
.frosted {
	color: #e4e4e4;
}
.footer {
	background-color: #ecebeb;
}
.widget-icon, .icon {
	filter: brightness(0.1) sepia(0) hue-rotate(0deg) saturate(0);
}
.widget-icon:hover {
	filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
}
.brand, .page-button, .menu-selector, .dropdown-link, .button-selector, .tab-selector {
	color: #111111;
}
.button-selector.w--current, .tab-selector.w--current {
	background-color: #dd8a17;
}
.page-button.w--current, .dropdown-link.w--current {
	color: #dd8a17;
}
.contentsection2 {
	background-color: #cac8c8;
}
.banner-wrapper, .content-wrapper {
	background-color: #cac8c8;
}
.product-card {
	background-color: #fafafa;
}
.progress-bar, .header-line-color, .link-button, .button, .home-page-button {
	background-color: #dd8a17;
}
.backtotop-button:hover, .widget-link:hover, .hero-button:hover {
	background-color: #dd8a17;
}
.about-link:hover {
	color: #dd8a17;
}
.text-field:focus, .textarea:focus {
	border-color: #dd8a17;
}
